In [20]:
import os
import pandas as pd

files= os.listdir("./wallart")

img_name= []
colors= []

for i in files:
    order= "./color-extractor color_names.npz ./wallart/"+i
    result= !{order}

    img_name.append(i)
    colors.append(result)

wallart = pd.DataFrame({"img_name":img_name, "colors": colors})

In [21]:
wallart

             img_name                                             colors
0           .DS_Store  [Unable to find colors for ./wallart/.DS_Store...
1   wallart_black.jpg                                       [gray,black]
2  wallart_yellow.jpg                                           [yellow]
3   wallart_green.jpg                                            [green]
4    wallart_blue.jpg                                             [blue]

In [22]:
files= os.listdir("./clock")

img_name= []
colors= []

for i in files:
    order= "./color-extractor color_names.npz ./clock/"+i
    result= !{order}

    img_name.append(i)
    colors.append(result)

clock = pd.DataFrame({"img_name":img_name, "colors": colors})

In [23]:
clock

          img_name    colors
0  clock_white.jpg    [gray]
1   clock_pink.jpg    [pink]
2  clock_black.jpg  [yellow]

In [24]:
files= os.listdir("./clothing")

img_name= []
colors= []

for i in files:
    order= "./color-extractor color_names.npz ./clothing/"+i
    result= !{order}

    img_name.append(i)
    colors.append(result)

clothing = pd.DataFrame({"img_name":img_name, "colors": colors})

In [25]:
clothing

                   img_name   colors
0  clothing_black:white.jpg  [black]
1          clothing_red.jpg  [white]
2         clothing_blue.jpg   [blue]